@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poetsen+One&display=swap');

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul-forte: #1010f4;
    --azul-claro: #1163f1;
    --azul-oscuro: #080345;
    --verde-forte: #aaf39a;
    --verde-oscuro: #0d690a;
    --amarelo: #ebf21e;
    --texto-titulo: "Poetsen One", sans-serif;
    --texto-corpo:"Dancing Script", cursive;
}

body{
    background-color: #0a4a08;
    color: #aaf39a;
    font-family: var(--texto-corpo)
}

.titulo-principal{
    font-family: var(--texto-titulo);
}

.conteudo-titulo{
    text-align: center;
    margin-top: 80px;
}

.img-cadeado{
    width: 5%;
}

.conteudo-senha{
    background-color: var(--marrom-claro);
    padding: 24px;
    color: var(--cinza);
    font-family:var(--font-texto);
    font-size: 40px;
}