@import url('https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&display=swap');


:root{
    --marrom-oscuro: #867070;
    --marrom-claro: #D5B4B4;
    --marrom-claro: #E4D0D0;
    --marrom-claro: #F5EBEB;
    --font-titulo: "Anta", sans-serif;
    --font-texto: "Micro 5", sans-serif;

}

body{
    background-color: var(--marrom-oscuro);
    color: var(--marrom-oscuro);
    font-family: var(--font-texto);
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    

}